# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Dependency directories
node_modules/

# TS build info
*.tsbuildinfo

# Output directories
dist/
build/

# Vite env files
.env.local
.env.*.local

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvsca*
*.njsproj
*.sln
*.sw?

# OS metadata
.DS_Store
Thumbs.db
.agent/
